# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Virtual environments
venv/
venv311/
.venv/
env/

# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb
*_executed.ipynb

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Secrets
.env
*.pem
